[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Arduino
Exec=/home/nakkaya/Documents/arduino/arduino
Comment=Arduino Integrated Development Environment
Icon=/usr/share/icons/Papirus/64x64/apps/arduino.svg