[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=grSim
Icon=application-default-icon
Path=/home/nakkaya/Documents/grSim/config
Exec=/home/nakkaya/Documents/grSim/bin/grsim
StartupNotify=false
StartupWMClass=Grsim
OnlyShowIn=Unity;
X-UnityGenerated=true
